<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.io.liweijie.home">

    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:name=".debug.HomeDebugApplication"
        android:supportsRtl="true">
        <activity android:name="com.github.io.liweijie.home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"/>
    </application>

</manifest>